{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <div class="msg">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <script>setTimeout(function () {
            window.location = '{% url 'users:index'%}';
        }, 3000)</script>
    {% endif %}
    <a href="{% url "users:index" %}" class="btn-back"><i class="fa fa-angle-left"></i></a>

    <h1>Create user</h1>

    <form class="user" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create</button>
    </form>
{% endblock %}